## 예제 22-2-1 딕셔너리, 집합 컴프리헨션

In [1]:
s = {1,2,3,4,5}

In [2]:
m = map(lambda x : x* x, s)         ## 집합을 map 에 넣어서 처리도 가능하다

In [3]:
{*m}                                             ## 집합에 map 객체를 넣어서  별표를 붙이면 원소가 처리된 것을 집합으로 표시한다

{1, 4, 9, 16, 25}

In [4]:
ll = [('a',1),('b',2)]                            ## 순서쌍을 만든 리스트 객체를 하나 만든다

In [5]:
def t(x) :                                        ## 함수를 하나 만든다
    x = list(x)                                    ## 인자로 전달된 튜플을 리스트로 변환한다
    x[1] = x[1] * x[1]                           ## 첫번재 원소를 곱해서 첫번째 원소에 할당한다
    x = tuple(x)                                 ## 다시 튜플로 변환한다
    return x

In [6]:
d = map(lambda x : t(x) , ll)           ## map  클래스에 리스트가 전달되면 함수의 변환을 람다 함수로 표시할 때 정의된 함수를 표현식에 넣어서 실행한다

In [7]:
[*d]                                                 ## 이 map 객체에 별표를 붙여서 처리된 결과를 리스트로 만든다

[('a', 1), ('b', 4)]

In [11]:
d = map(lambda x : t(x) , ll)       ## map 클래스로 만든 객체는 반복자이므로 다시 사용하려면 새롭게 객체를 만든다

In [12]:
{x:y for x,y in d}                       ## 이를 딕셔너리 컴프리헨션으로 변경한다.  키와 값이 들어가야하므로 x :y로 지정해서 키와 값이 들어가게 한다

{'a': 1, 'b': 4}

In [10]:
{x:y*y for x,y in ll}                    ##  딕셔너리 컴프리헨션으로 두 값을 곱하도록 로직을 정하면 별도의 함수가 없어도 처리가 가능하다

{'a': 1, 'b': 4}